.theme_button {
	background: #cea241;
	border-radius: 7px;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	border: none;
	font-weight: 500
}
.full_overlay {
	background-color: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99999;
	color: #fff;
	display: none;
}
div#sidebar {
	display: none;
}
.sticky-top {
	z-index: 99;
}
/* Login Case */
.side_pocket {
	width: 428px;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	right: -428px;
	transition: all ease 0.2s;
	background-color: #fff;
}
.vistor_btn {
	padding: 5px 15px;
	border-radius: 5px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}
.vistor_btn:hover {
	background: #cea241;
	color: #fff !important;
}
.show_menu .side_pocket {
	right: 0;
}
.show_menu body {
	overflow: hidden;
}
.show_menu .dim_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
}
.pocket_frame {
	padding: 15px 24px;
	color: #4b4b4b;
}
.frame_height {
	overflow-y: auto;
	height: 100%;
}
.actions_bin {
	display: flex;
	justify-content: flex-end;
}
.user_info {
	background-color: #000;
	padding: 20px;
	color: #fff;
	margin-top: 15px;
	border-radius: 15px;
}
.user_info h4 {
	font-size: 25px;
}
.user_info h5 {
	font-size: 18px;
	font-weight: bold;
}
.user_info p {
	margin-top: 15px;
}
.join_text {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}
.pocket_violetBtn, .pocket_violetBtn:hover {
	background-color: #cea241;
	color: #fff;
	padding: 5px 8px;
	font-size: 12px;
	border-radius: 5px;
}
.user_enroll {
	font-size: 20px;
	margin-top: 25px;
	text-align: center;
}
.field_carton {
	width: 100%;
	margin-top: 25px;
}
.field_carton .nav {
	position: relative !important;
	background-color: #fff !important;
	padding: 0 !important;
}
.field_carton .nav-tabs .nav-item.show .nav-link, .field_carton .nav-tabs .nav-link.active {
	border: 0;
	border-bottom: 2px solid #cea241 !important;
}
.formGrid {
	padding-top: 25px;
}
.formbtn_gradient {
	background-color: #cea241;
	border: 0;
	color: #fff;
	border-radius: 5px;
	font-size: 17px;
}
.btn_grid {
	padding: 10px 0;
}
.boundary_marge {
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
}
.boundary_marge_record {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
}
.pocket_blueBtn, .pocket_blueBtn:hover {
	color: #cea241;
}
.field_carton .nav-tabs .nav-link:focus, .field_carton .nav-tabs .nav-link:hover {
	border-color: transparent;
}
.orSignup {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	position: relative;
}
.orSignup::after {
	content: '';
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #cea241;
}
.orMsg {
	width: 40px;
	height: 40px;
	border: 1px solid #cea241;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	font-size: 18px;
	background-color: #fff;
	position: relative;
	z-index: 99;
	line-height: 32px;
}
.media_login {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.media_login img {
	height: 38px;
	width: 175px;
}
.field_carton .form-control {
	height: 42px !important;
	border: 1px solid #ccc !important;
	border-radius: 5px !important;
}
.field_carton select.form-control:not([size]):not([multiple]) {
	height: 42px !important;
	border: 1px solid #ccc !important;
	border-radius: 5px;
}
.field_carton .nav-tabs .nav-link {
	display: inline-flex;
	align-items: center;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
.field_carton .nav-tabs .nav-link img {
	height: 17px;
	margin-right: 7px;
}
.form_phone {
	display: flex;
}
.hmcode {
	width: 35%;
}
.hasDownArrow::after {
	position: absolute;
	width: 7px;
	height: 6px;
	background-image: url(../images/arrow_down.svg);
	content: "";
	top: 20px;
	right: 12px;
	margin-top: 0px;
	pointer-events: none;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}
.Field_Arrow::after {
	position: absolute;
	width: 7px;
	height: 6px;
	background-image: url(../images/arrow_down.svg);
	content: "";
	top: 48px;
	right: 12px;
	margin-top: 0px;
	pointer-events: none;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}
.hmPhonenbr {
	width: 65%;
}
.form_phone select.form-control {
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-radius-topRight: 0px !important;
	-moz-border-radius-bottomRight: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.form_phone input.form-control {
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-bottom-left-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px;
	border-left: 0px !important;
}
.reg_with_us {
	width: 100%;
}
.login_view {
	width: 100%;
}
.gridpadRight {
	padding-right: 60px;
}
.left_carton_white {
	border: 1px solid #ccc;
	padding: 15px 24px;
	color: #4b4b4b;
	box-shadow: -2px 5px 23px -6px rgba(0,0,0,0.36);
	-webkit-box-shadow: -2px 5px 23px -6px rgba(0,0,0,0.36);
	-moz-box-shadow: -2px 5px 23px -6px rgba(0,0,0,0.36);
}
.right_carton_white {
	display: flex;
	justify-content: center;
}
.content_inner {
	width: 75%;
}
.reg_icon1 img {
	height: 176px;
	margin-top: 50px;
}
.text_note1 {
	font-size: 25px;
	color: #0086cd;
	margin-top: 50px;
}
.text_note2 {
	font-size: 17px;
	line-height: 30px;
	margin-top: 15px;
}
.fgt_pswdIn {
	background-color: #fff;
	padding: 20px;
	color: #333;
	margin-top: 15px;
	text-align: center;
}
.fgt_pswdIn h4 {
	font-size: 25px;
}
.fgt_pswdIn h5 {
	font-size: 20px;
}
.fgt_pswdIn p {
	margin-top: 15px;
}
.fgtpswd_contact {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
	color: #333;
}
.pocket_frame input, select {
	width: 100%;
	font-size: 14px;
	color: #373e43;
	border: solid #cccccc 1px;
	border-radius: 5px;
	min-height: 40px;
	padding: 0 12px;
	box-shadow: 1px 5px 8px 0px rgb(0 0 0 / 5%);
}
.pocket_frame input:focus, select:focus {
	border: solid #cea241 1px !important;
	box-shadow: 0px 1px 8px 2px rgb(0 0 0 / 15%);
}
/* Login Case ends */

.innerSubHeads h2 {
	font-size: 20px;
	font-weight: bold
}
section.innerSubHeads {
	background: #e2eaf4;
	padding: 20px 0;
}
.MinHeight {
	min-height: 600px;
}
.trvelrsList h4 {
	font-size: 16px;
	color: #4a4a4a;
	margin: 0 0 5px 0;
	font-weight: 600;
}
.trvelrsList .travelersRHalf {
	padding-top: 5px;
}
.trvelrsList .travelersLHalf p {
	font-size: 14px;
	text-transform: capitalize;
	margin: 0 0 0 0;
	line-height: 18px;
}
.trvelrsList .travelersLHalf p span {
	font-size: 12px;
	opacity: .8;
	display: block;
}
.trvelrsList .psnrs_travel {
	width: 30px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}
.trvelrsList .psnrs_travel {
	width: 30px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}
.plus-minus-button {
	width: 25px;
	height: 25px;
	color: #fff;
	padding: 0;
	background-color: #cea241;
	margin: 0;
	font-size: 18px;
	line-height: 17px;
	border: none;
}
.trvelrsList .traveller_rows {
	padding: 5px 0px;
	border-bottom: solid 1px #e0e0e0;
}
.selectCabn {
	margin: 5px 0;
	position: relative;
}
.selectCabn .down_arrow:after {
	top: 18px;
}
.SideModalnew {
}
.SideModalnew.modal-dialog {
	width: 500px !important;
}
.SideModalnew .btn-position {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.SideModalnew.modal.right.fade.in .modal-dialog {
	right: 0 !important;
	transform: translateX(-50%);
}
.SideModalnew.modal.right .modal-content {
	height: 100%;
	border-radius: 0;
}
.SideModalnew.modal.right .modal-body {
	overflow-y: scroll;
	overflow-x: hidden;
	padding:45px 25px;
}
.SideModalnew.modal.right .modal-dialog {
	width: 500px;
	position: fixed;
	margin: auto;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.SideModalnew.modal.right.fade.in .modal-dialog {
	transform: translateX(0%);
}
.SideModalnew.modal.right.fade .modal-dialog {
	right: 0px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}
.SideModalnew.modal.right .modal-header {
	padding: 0;
}
.SideModalnew.modal.right .modal-header::after {
	content: "";
	display: inline-block;
}
.SideModalnew.modal.right .close {
	text-shadow: none;
	opacity: 1;
	color: #ff4d4d;
	font-size: 26px
}
/*  form-control  */
    
.SideModalnew.form-control {
	border-radius: 0;
	box-shadow: none
}
.SideModalnew.form-control:focus {
	box-shadow: none
}
/*  Button  */
    
.SideModalnew.SideModalnew.btn {
	border-radius: 0
}
.SideModalnew.modal.right .close {
	background: url(../images/close_modal.svg) no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 5px;
	opacity: 1;
	font-size: 0;
}
section.ContentArea {
	padding-top: 30px;
	min-height: 550px;
}
/*Progressive starts*/
.newProgressBar {
	border: 3px solid #213d49;
	border-radius: 0px;
	height: 28px;
	padding: 0;
	margin: 15px 0
}
.progress-bar {
	float: left;
	width: 100%;
	height: 100%;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #cea241;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
	overflow: hidden;
}
.progress-bar.active, .progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite
}
.filterCol {
	flex: 0 0 26%;
	max-width: 26%;
	padding: 0 15px;
}
.resultCol {
	padding-left: 15px;
	flex: 0 0 74%;
	max-width: 74%;
	padding-right: 15px;
}
@keyframes placeHolderShimmer {
0% {
background-position:-468px 0
}
100% {
background-position:468px 0
}
}
.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 145px;
	position: relative;
	width: 100%;
	border-bottom: 0;
	margin-bottom: 10px
}
.background-masker {
	background: #fff;
	position: absolute
}
.background-masker.header-top, .background-masker.header-bottom, .background-masker.subheader-bottom {
	top: -10px;
	left: 65px;
	right: 0;
	height: 10px
}
.background-masker.header-left, .background-masker.subheader-left, .background-masker.header-right, .background-masker.subheader-right {
	top: 0;
	left: 65px;
	height: 18px;
	width: 20px
}
.background-masker.header-bottom {
	top: 18px;
	height: 12px
}
.background-masker.subheader-left, .background-masker.subheader-right {
	top: 18px;
	height: 12px
}
.background-masker.header-right, .background-masker.subheader-right, .place_one, .place_two, .place_three, .place_four, .place_five, .place_six {
	width: auto;
	left: 300px;
	right: 0
}
.background-masker.subheader-right {
	left: 230px
}
.background-masker.subheader-bottom {
	top: 30px;
	height: 10px
}
.background-masker.content-top, .background-masker.content-second-line, .background-masker.content-third-line, .background-masker.content-second-end, .background-masker.content-third-end, .background-masker.content-first-end {
	top: 40px;
	left: 0;
	right: 0;
	height: 6px
}
.background-masker.content-top {
	height: 20px
}
.background-masker.content-first-end, .background-masker.content-second-end, .background-masker.content-third-end {
	width: auto;
	left: 380px;
	right: 0;
	top: 60px;
	height: 8px
}
.background-masker.content-second-line {
	top: 68px
}
.background-masker.content-second-end {
	left: 420px;
	top: 74px
}
.background-masker.content-third-line {
	top: 82px
}
.background-masker.content-third-end {
	left: 300px;
	top: 88px
}
.place_one {
	left: 0;
	top: 40px;
	height: 16px
}
.place_two {
	left: 148px;
	top: 56px;
	height: 15px;
	width: 1%
}
.place_three {
	left: 0;
	top: 70px;
	height: 10px
}
.place_four {
	left: 0;
	top: 100px;
	height: 10px
}
.place_five {
	left: 0;
	top: 133px;
	height: 16px
}
.place_six {
	left: 0;
	top: 40px;
	height: 16px
}
.resultProgres {
	text-align: center;
	width: 100%;
	margin-top: 0;
	margin-bottom: 35px;
}
.resultProgres h5 {
	font-size: 16px;
	color: #213d49;
	font-weight: 400;
}
.progressort {
	height: 50px
}
.resultprogresmain .result_block_left {
	float: left
}
.resultprogresmain .result_block_right {
	float: left
}
.result_block_right .timeline-item {
	background: #fff;
	padding: 12px 0;
	margin: 0 auto;
	max-width: 100%;
	min-height: 150px;
	margin-bottom: 15px
}
.resultprogresmain .result_block_left {
	position: relative;
	padding-bottom: 0;
	margin-bottom: 25px
}
.resultprogresmain .result_block_left {
	float: left
}
.result_block_left {
	width: 100%;
	float: left;
	min-height: 215px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 28px -2px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 0 28px -2px rgba(0,0,0,0.08);
	box-shadow: 0 0 28px -2px rgba(0,0,0,0.08)
}
.timeline-item {
	background: #fff;
	padding: 10px 0 0;
	margin: 0 auto;
	max-width: 100%;
	min-height: 150px;
	margin-bottom: 15px
}
.progress {
	border-radius: 5px;
	height: 20px;
	background-color: #0a0a0a;
}
/*Progressive ends*/


/*----------inline loader-----*/
.loader-lg {
	width: 70px;
	height: 70px;
	position: relative;
	animation: sk-chase 2.5s infinite linear both;
}
.loader-lg-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: sk-chase-dot 2.0s infinite ease-in-out both;
}
.loader-lg-dot:before {
	content: '';
	display: block;
	width: 25%;
	height: 25%;
	background-color: #fff;
	border-radius: 100%;
	animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}
.loader-lg-dot:nth-child(1) {
	animation-delay: -1.1s;
}
.loader-lg-dot:nth-child(2) {
	animation-delay: -1.0s;
}
.loader-lg-dot:nth-child(3) {
	animation-delay: -0.9s;
}
.loader-lg-dot:nth-child(4) {
	animation-delay: -0.8s;
}
.loader-lg-dot:nth-child(5) {
	animation-delay: -0.7s;
}
.loader-lg-dot:nth-child(6) {
	animation-delay: -0.6s;
}
.loader-lg-dot:nth-child(1):before {
	animation-delay: -1.1s;
}
.loader-lg-dot:nth-child(2):before {
	animation-delay: -1.0s;
}
.loader-lg-dot:nth-child(3):before {
	animation-delay: -0.9s;
}
.loader-lg-dot:nth-child(4):before {
	animation-delay: -0.8s;
}
.loader-lg-dot:nth-child(5):before {
	animation-delay: -0.7s;
}
.loader-lg-dot:nth-child(6):before {
	animation-delay: -0.6s;
}
 @keyframes sk-chase {
 100% {
transform: rotate(360deg);
}
}
 @keyframes sk-chase-dot {
 80%, 100% {
transform: rotate(360deg);
}
}
 @keyframes sk-chase-dot-before {
 50% {
 transform: scale(0.4);
}
100%, 0% {
 transform: scale(1.0);
}
}
.loader-sm {
	width: 60px;
	text-align: center;
	display: inline-block;
}
.loader-sm > div {
	width: 12px;
	height: 12px;
	background-color: #1cade3;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loader-sm .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader-sm .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
 @-webkit-keyframes sk-bouncedelay {
 0%, 80%, 100% {
-webkit-transform: scale(0)
}
 40% {
-webkit-transform: scale(1.0)
}
}
 @keyframes sk-bouncedelay {
 0%, 80%, 100% {
 -webkit-transform: scale(0);
 transform: scale(0);
}
40% {
 -webkit-transform: scale(1.0);
 transform: scale(1.0);
}
}
/*----------inline loader end-----*/


/*seo start*/
.seo_banner_outer {
	padding-top: 80px;
	padding-bottom: 90px;
}
.seo_banner_main {
	background: url(../images/seobanner_img.jpg);
	background-size: cover;
	width: 100%;
	/* min-height: 730px; */
	padding-bottom: 30px;
}
.seobanner_tittle {
	padding-bottom: 5px;
	text-align: center;
}
.seobanner_tittle h1 {
	font-size: 35px;
	color: #fff;
	text-shadow: 2px 0px 3px rgba(0,0,0,0.6);
	font-weight: bold;
	text-transform: uppercase;
}
.seobanner_tittle p {
	font-size: 14px;
	color: #fff;
	padding: 0;
	margin: 0;
}
.seo_entrance_content {
	padding: 30px 0;
}
.seo_entrance_content .wrapper {
	width: 100%;
	top: -70px;
	position: relative;
}
.seo_entrance_content .tabs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border-bottom: none;
	position: relative;
}
.seo_entrance_content .tab {
	width: 130px;
	height: 115px;
	border-radius: 12px;
	padding: 12px 20px;
	cursor: pointer;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #fff;
	margin: 0 8px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #373e43;
	font-size: 14px;
}
.seo_entrance_content .tab.active {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #cea141;
}
/*.seo_entrance_content .tab:first-child {
  margin-left:0;
}*/
 
.seo_entrance_content .active {
	display: block;
}
.seo_entrance_content .tab-content {
}
.seo_entrance_content .tab-content-item {
	display: none;
	max-width: 100%;
	padding-top: 30px;
}
.seo_entrance_content .tab-content-item.active {
	display: block;
}
.seo_entrance_content .tab span {
	line-height: 16px;
	padding-top: 12px;
	font-size: 14px;
}
.entrance_umrah_icon {
	background: url(../images/entrance_umrah_icon.svg);
	width: 34px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .entrance_umrah_icon {
	background: url(../images/entrance_umrah_icon_active.svg);
	width: 34px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.travel_access_icon {
	background: url(../images/travel_access_icon.svg);
	width: 38px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .travel_access_icon {
	background: url(../images/travel_access_icon_active.svg);
	width: 38px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.miqat_icon {
	background: url(../images/miqat.svg);
	width: 38px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .miqat_icon {
	background: url(../images/miqat_active.svg);
	width: 38px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.ihram_icon {
	background: url(../images/ihram.svg);
	width: 32px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .ihram_icon {
	background: url(../images/ihram_active.svg);
	width: 32px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.sanctuary_icon {
	background: url(../images/sanctuary_icon.svg);
	width: 32px;
	height: 33px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .sanctuary_icon {
	background: url(../images/sanctuary_icon_active.svg);
	width: 32px;
	height: 33px;
	display: inline-block;
	background-size: contain;
}
.tawaf_icon {
	background: url(../images/tawaf_icon.svg);
	width: 32px;
	height: 33px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .tawaf_icon {
	background: url(../images/tawaf_icon_active.svg);
	width: 32px;
	height: 33px;
	display: inline-block;
	background-size: contain;
}

.sai_icon {
	background: url(../images/sai_icon.svg);
	width: 38px;
	height: 44px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .sai_icon {
	background: url(../images/sai_icon_active.svg);
	width: 38px;
	height: 44px;
	display: inline-block;
	background-size: contain;
}


.grandmsq_icon {
	background: url(../images/grand_mosq_icon.svg);
	width: 38px;
	height: 38px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .grandmsq_icon {
	background: url(../images/grand_mosq_icon_active.svg);
	width: 38px;
	height: 38px;
	display: inline-block;
	background-size: contain;
}

.grandmsqservice_icon {
	background: url(../images/grand_mosqservice_icon.svg);
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .grandmsqservice_icon {
	background: url(../images/grand_mosqservice_icon_active.svg);
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: contain;
}

.attractions_icon {
	background: url(../images/attractions_icon.svg);
	width: 38px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .attractions_icon {
	background: url(../images/attractions_icon_active.svg);
	width: 38px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}

.holisite_icon {
	background: url(../images/holisite_icon.svg);
	width: 43px;
	height: 38px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .holisite_icon {
	background: url(../images/holisite_icon_active.svg);
	width: 43px;
	height: 38px;
	display: inline-block;
	background-size: contain;
}

.accommodation_icon {
	background: url(../images/accommodation.svg);
	width: 37px;
	height: 38px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .accommodation_icon {
	background: url(../images/accommodation_active.svg);
	width: 37px;
	height: 38px;
	display: inline-block;
	background-size: contain;
}
.shopping_icon {
	background: url(../images/shopping.svg);
	width: 40px;
	height: 31px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .shopping_icon {
	background: url(../images/shopping_active.svg);
	width: 40px;
	height: 31px;
	display: inline-block;
	background-size: contain;
}

.restaurants_icon {
	background: url(../images/restaurants.svg);
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .restaurants_icon {
	background: url(../images/restaurants_active.svg);
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: contain;
}

.gettingmakah_icon {
	background: url(../images/travel_access_icon.svg);
	width: 38px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}
.seo_entrance_content .tab.active .gettingmakah_icon {
	background: url(../images/travel_access_icon_active.svg);
	width: 38px;
	height: 37px;
	display: inline-block;
	background-size: contain;
}



.entrance_umrah_tab #accordion .card-header {
	margin-bottom: 0px;
}
.entrance_umrah_tab #accordion .accordion-title {
	position: relative;
	display: block;
	padding: 15px 20px;
	width: 100%;
	border-radius: 6px;
	font-weight: bold;
	display: block;
	background: #fff;
	border-radius: 6px;
	text-align: left;
}
.entrance_umrah_tab #accordion .accordion-title i {
	position: absolute;
	width: 40px;
	height: 100%;
	right: 5px;
	top: 25px;
	background: url(../images/arrow_down.svg) no-repeat;
	color: #000;
	font-weight: normal;
	margin-left: auto;
	font-size: 24px;
	line-height: 1;
	padding-left: 20px;
	width: 10px;
	height: 10px;
	display: inline-block;
	background-size: contain;
}
.entrance_umrah_tab #accordion .accordion-title:hover {
}
.entrance_umrah_tab #accordion .accordion-title:hover i {
	border-right: 1px solid #fff;
}
.entrance_umrah_tab #accordion .accordion-body {
	padding: 15px 20px;
}
.entrance_umrah_content_pic img {
	border-radius: 10px;
}
.entrance_umrah_contentarea {
}
.entrance_umrah_contentarea_colum {
	padding-bottom: 10px;
}
.entrance_umrah_contentarea_colum h3 {
	font-size: 17px;
	color: #373e43;
	font-weight: bold;
	margin-bottom: 5px;
}
.entrance_umrah_contentarea_colum p {
	font-size: 14px;
	color: #373e43;
	font-weight: normal;
}
.entrance_umrah_contentarea_colum ul.list {
}
.entrance_umrah_contentarea_colum ul.list li {
	font-size: 14px;
	color: #373e43;
}
.entrance_umrah_tab #accordion .accordion-body ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.entrance_umrah_tab #accordion .accordion-body li {
	padding-left: 18px;
	padding-bottom: 10px;
	position: relative;
}
.entrance_umrah_tab #accordion .accordion-body li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 7px;
	background: url(../images/bullet.png) no-repeat;
	width: 7px;
	height: 7px;
}
.entrance_umrah_tab .accordion-title span {
	color: #373e43;
	font-size: 18px;
}
.entrance_umrah_tab span:hover {
	text-decoration: none;
}
.entrance_umrah_tab .btn-link:hover {
	color: #333;
	text-decoration: none;
}
.entrance_umrah_tab .btn:focus {
	box-shadow: none;
	outline: none;
	text-decoration: none;
}
.entrance_umrah_tab .card {
	border: solid #cacaca 1px !important;
	margin-bottom: 10px;
}
button.seoBtn {
	cursor: pointer;
	color: #fff;
	outline: none;
	font-size: 14px;
	padding: 5px 25px;
	border: 1px solid #cea241;
	font-weight: 700;
	line-height: 30px;
	display: inherit;
}
.seo_grand_banner_main {
	background: url(../images/seo_grand_banner_img.jpg);
	background-size: cover;
	width: 100%;
	/* min-height: 730px; */
	padding-bottom: 30px;
}
.seo_grand_carousel {
	padding: 15px 0;
	padding-bottom: 50px;
}
.seo_grand_carousel .owl-stage {
	position: relative;
}
.seo_grand_carousel .owl-item {
	padding: 50px 40px;
	width: auto;
	background: rgb(38,71,84);
	background: linear-gradient(0deg, rgba(38,71,84,1) 0%, rgba(16,134,144,1) 100%);
	min-height: 550px;
}
.seo_grand_carousel .owl-item img {
	border-radius: 12px;
	border: solid #FFF 2px;
}
.seo_grand_carousel .owl-item h3 {
	font-weight: bold;
	color: #fff;
	padding-bottom: 15px;
}
.seo_grand_carousel .owl-item p {
	color: #fff;
	padding-bottom: 15px;
}
.seo_grand_carousel .owl-item:nth-child(even) {
}
.seo_grand_carousel .owl-nav img:nth-child(1) {
	width: 50px;
}
.seo_grand_carousel .owl-prev, .seo_grand_carousel .owl-next {
	position: absolute;
	transition: 0.5s;
	top: 50%;
	opacity: 0.7;
}
 

.seo_grand_carousel .owl-prev {
	left: 15px;
}
.seo_grand_carousel .owl-next {
	right: 15px;
}
.seo_grand_carousel .owl-next span {
	font-size: 0;
}
.seo_grand_carousel .owl-prev span {
	font-size: 0;
}
.seo_grand_carousel .owl-prev:hover, .seo_grand_carousel .owl-next:hover {
 
	opacity: 0.9;
}
.seo_grand_carousel .owl-dots {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	background: #000;
	padding: 5px 5px 2px 5px;
	border-radius: 20px;
	opacity: 0.7;
}
.seo_grand_carousel .owl-dot:hover span {
	background: lightyellow!important;
}
.seo_grand_carousel .active span {
	background: lightgreen !important;
}
.seo_grand_carousel .owl-item {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-radius: 10px;
}
.seo_grand_content {
}
.seo_grand_content .tabs {
	position: absolute;
	top: -90px;
}
.seo_grand_content .tab-content-item {
	display: none;
	max-width: 100%;
	padding-top: 50px;
}
.seo_grand_content .wrapper {
	width: 100%;
	top: 0px;
	position: relative;
}
.seo_grand_carousel .owl-carousel .owl-stage-outer {
	overflow: visible;
}
.seo_grand_contentarea_colum {
	padding-bottom: 10px;
}
.seo_grand_contentarea_colum h3 {
	font-size: 22px;
	color: #373e43;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}
.seo_grand_contentarea_colum p {
	font-size: 14px;
	color: #373e43;
	font-weight: normal;
}
.form-control.textarea_hight {
	height: 80px !important;
}
.SideModalnew label {
	margin-bottom: 5px;
}
.SideModalnew .form-group {
	margin-bottom: 10px;
}
.seo_grand_carousel .owl-next {
	width: 50px;
	height: 42px;
	background: url(../images/seo_arrow.svg) !important;
	background-size: contain !important;
	opacity: 1;
}
.seo_grand_carousel .owl-next img {
	display: none;
}
.seo_grand_carousel .owl-prev {
	width: 50px;
	height: 42px;
	background: url(../images/seo_arrow.svg) !important;
	background-size: contain !important;
	opacity: 1;
	transform: scaleX(-1);
}
.seo_grand_carousel .owl-prev img {
	display: none;
}
.grand_seo_slide_main {
}
.grand_seo_slide {
	background-color: #fff;
	border: solid #cacaca 1px;
	overflow: hidden;
	border-radius: 12px;
	padding-bottom: 10px;
	box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
}
.grand_seo_slide_content {
	padding: 15px;
	padding-top: 0;
	height: 60px;
	overflow: hidden;
}
.grand_seo_slide_hd {
	padding: 5px 15px;
	padding-top:10px;
}
.grand_seo_slide_hd h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #373e43;
	font-weight: bold;
}
a.grand_seo_readmore {
	padding: 15px;
	display: inline-block;
	color: #cea141 !important;
}
.grand_seo_slide_img {
	height: 229px;
}
.grand_seo_slide_img img {
	height: 100%;
}
.grand_seo_slide_main h2 {
	font-size: 22px;
	color: #373e43;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 15px;
}
.grand_seo_slide_main .owl-nav {
	display: none;
}
.grand_seo_slide_main .owl-dots {
	padding-top: 20px;
	position:relative;
}
.grand_seo_slide_main .owl-dot span {
	width: 8px !important;
	height: 8px !important;
	margin: 0 5px !important;
}
.grand_seo_slide_main .owl-dot.active span {
	background: #cea141 !important;
}
.grand_seo_slide_main .owl-theme .owl-dots .owl-dot.active span, .grand_seo_slide_main .owl-theme .owl-dots .owl-dot:hover span {
	background: #cea141 !important;
}
.seo_grand_carousel .owl-dots {
	display: none;
}
.seo_grand_contentarea_colum .owl-controls {
	position: relative;
	width: 15%;
	margin: 0 auto;
}
.seo_hotel_slidemain {
}
.seoslide_hotels {
	background-color: transparent;
	border: solid #fff 4px;
	overflow: hidden;
	border-radius: 12px;
	margin-left: 150px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.seo_hotel_slide {
	position:relative;
	padding-top: 80px;
	background: url(../images/seo_hotel_bg.jpg) no-repeat top;
}
.cafecaption {
	position: absolute;
	left: 0;
	width: 30%;
	height: 250px;
	z-index: 8;
	bottom: -80px;
	background: #fff;
	border-radius: 12px;
	padding: 15px;
	border: solid #cacaca 1px;
	box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
}
.seocafe_slide_img {
	height: 400px;
}
.seocafe_slide_img img {
	height: 100%;
}
.seo_hotel_slide .owl-stage-outer {
	padding-bottom: 100px;
}
.seo_hotel_slidemain h2 {
	font-size: 22px;
	color: #373e43;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 15px;
}
.cafe_slide_content {
	padding: 15px;
	padding-top: 0;
	height: 130px;
	overflow: hidden;
}
.seo_hotel_slide {
}
.seo_hotel_slide .owl-next {
	width: 50px;
	height: 42px;
	background: url(../images/seo_arrow.svg) !important;
	background-size: contain !important;
	opacity: 1;
}
.seo_hotel_slide .owl-prev {
	width: 50px;
	height: 42px;
	background: url(../images/seo_arrow.svg) !important;
	background-size: contain !important;
	opacity: 1;
	transform: scaleX(-1);
}
.seo_grand_carousel .owl-nav {
	position: relative;
	margin: 0 auto;
	width: 15%;
}
.seo_hotel_slide .owl-nav.disabled {
	display: inherit !important;
	top: -90px;
	position: relative;
	left: 22px;
}
.seo_hotel_slide .owl-nav {
	text-align: left;
	    text-align: left;
    position: absolute;
    bottom: 30px;
    left: 15px;
}
.seo_hotel_slide .owl-nav button.owl-next span {
	font-size: 0;
}
.seo_hotel_slide .owl-nav button.owl-prev span {
	font-size: 0;
}
.seobanner_tittle p span{
    background: #000;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;;
}



.offers_banner_main {
    background: url(../images/offer_banner.jpg);
    background-size: cover;
    width: 100%;
    /* min-height: 730px; */
    padding-bottom: 30px;
}

.offers_tab{
	justify-content: center !important;
	
}
.offers_tab .tab{
	margin-left:0;
	margin-right: 16px;
}
	





.offers_tab_list ul{
	    display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
}
.offers_tab_list ul li{
	width:23%;
	margin:10px 0px;
}

 .offerslist_page .grand_seo_slide_content{
	font-size: 13px;
}


 .offerslist_page  .grand_seo_slide_hd{
	 padding-top:12px;
 }
 
 .flight_ofr_icon {
    background: url(../images/flight_ofr_icon.svg);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-size: contain;
}

.seo_entrance_content .tab.active .flight_ofr_icon {
    background: url(../images/flight_ofr_icon_active.svg);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-size: contain;
}

 .uniqe_ofr_icon {
    background: url(../images/unique_offers_icon.svg);
    width: 37px;
    height: 37px;
    display: inline-block;
    background-size: contain;
}

.seo_entrance_content .tab.active .uniqe_ofr_icon {
    background: url(../images/unique_offers_icon_active.svg);
    width: 37px;
    height: 37px;
    display: inline-block;
    background-size: contain;
}

 .offers_ofr_icon {
    background: url(../images/offer.svg);
    width: 37px;
    height: 37px;
    display: inline-block;
    background-size: contain;
}

.seo_entrance_content .tab.active .offers_ofr_icon {
    background: url(../images/offer_active.svg);
    width: 37px;
    height: 37px;
    display: inline-block;
    background-size: contain;
}

.menuBtn_main{
	border-top:solid #dee2e6 1px;
	padding-top:10px;
}

.menuBtn{
   width: auto;
    background: #108690;
    border-radius: 5px;
    padding: 0 30px;
    height: 40px;
    border: none;
    color: #fff;
	font-size:14px;
    margin-top: 0px;
    margin-left: 10px;
}
/*seo end*/

/*offer details start*/
.offer_details{
	padding:25px 0;
}
.offer_details .wrapper {
    width: 100%;
    top: 0px;
    position: relative;
}
.offer_details .destcommonBox {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 25px;
	box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
}
.quick_look_box_wrap {
    width: 100%;
    display: flex;
     justify-content: space-between;
}
.quick_look_box_wrap .boxes {
    width: 32%;
    height: 92px;
    padding: 10px;
    padding-left: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.quick_look_box_wrap .boxes img {
    margin-right: 15px;
}
.quick_look_box_wrap .boxes p {
    color: #373e43;
    font-size: 16px;
    font-weight:bold;
}
.quick_look_box_wrap .boxes span {
    color: #cea141;
    font-size: 14px;
}

.offer_details .OfferFlightBox {
    background-color: #fff;
    border: solid #cccccc 1px;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
    padding: 30px 20px;
    margin-bottom: 25px;
}
.offer_details .OfferFlightBox h4 {
    font-size: 18px;
	color: #373e43;
   font-weight:bold;
    margin-bottom: 10px;
    width: 100%;
}
.offer_details .OfferFlightBox p {
	font-size:14px;
}
.offer_details .offer_list {
    padding-left:  0px;
}
.offer_details .offer_list li {
    padding-left: 20px;
    padding-bottom: 7px;
    line-height: 28px;
	position:relative;
}
.offer_details .offer_list li:before{
	position:absolute;
	content:'';
	background:url(../images/slidearrow_rht.svg);
	width: 10px;
    height: 10px;
	margin-right:5px;
    background-size: contain;
    display: inline-block;
	left: 0;
    top: 10px;
}
/*offer details end*/

/*topairlines start*/
.AirlineTab {
    width: 100%;
    border-bottom: 2px solid #cea241;
}
.AirlineTab li {
    width: 150px;
    background: #cea241;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
	text-align: center;
}

.ShowAllAirline {
    width: 100%;
    padding-top: 10px;
}
.ShowAirlineDiv {
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
    padding-top: 10px;
}
.ShowAirlineDiv span {
    color: #155ea2;
}
.ShowAllAirline ul {
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
}
.ShowAllAirline ul li {
	display: inline-block;
    padding: 2px 7px;
    font-size: 12px;
    background: #fff;
    margin-right: 2px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
}
.TopAirline ul li {
    width: 100%;
    padding: 10px 0;
    padding-right: 0;
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0;
    color: #2b3042;
    font-size: 14px;
    display: inline-block;
	border: 1px solid #ccc;
    border-bottom: 2px solid #cea241 !important;
    border-radius: 5px;
}
 .seo_top_airlinesec .owl-nav {
    top: inherit;
    bottom: 0;
    position: relative;
    width: 11%;
    margin: 0 auto;
	 
}
.seo_top_airlinesec .owl-theme .owl-nav [class*='owl-'] {
    color: #e7e8ec;
    font-size: 1px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    border-radius: 0;
    border: none;

}
.seo_top_airlinesec .owl-prev {
    background-image: url(../images/seo_arrow.svg)!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
	background-size:contain !important;
    width: 50px!important;
	height:40px;
    left: 0px!important;
    position: absolute;
	transform: rotate(180deg);
}
.seo_top_airlinesec .owl-next {
    background-image: url(../images/seo_arrow.svg)!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
	background-size:contain !important;
    width: 50px!important;
	height:40px;
     position: absolute!important;
    right: 0px!important;
}

/*topairlines end*/

/*seo destination start*/
.seo_destination_main {
	background: url(../images/seo_destination_banner.jpg);
	background-size: cover;
	width: 100%;
	/* min-height: 730px; */
	padding-bottom: 30px;
}
.seo_destinatio_tittle {
	padding-bottom: 5px;
	text-align: left;
}
.seo_destination_content {
	width: 100%;
	padding-top: 15px;
}
.seo_destination_menu {
}
.seo_destination_menu ul {
	width: 100%;
	border-bottom: solid #cccccc 1px;
	display: flex;
	justify-content: space-between;
}
.seo_destination_menu ul li {
	display: inline-block;
}
.seo_destination_menu ul li a {
	display: inline-block;
	color: #373e43;
	font-weight: bold;
	padding: 15px 10px;
}
.seo_destination_menu ul li a.active {
	border-bottom: solid #cea141 2px;
	color: #cea141;
}
.seo_destination_menu ul li a:hover {
	border-bottom: solid #cea141 2px;
	color: #cea141;
}
.seo_destinatio_tittle p span {
	background: #fccf14;
	color: #000000;
	border-radius: 12px;
	padding: 2px 6px;
	font-size: 13px;
}
.seo_map_bnr_main {
	display: flex;
	align-items: center;
}
.seo_map_bnr {
	padding-right: 10px !important;
}
.seo_map_bnr img {
	border-right: solid #fff 1px;
	padding-right: 10px;
}
.seo_map_bnr i {
	padding-left: 5px;
	color: #000000;
}
.seo_destination_tab {
	padding: 30px 0;
}
.seo_destination_tab #exTab3 .nav-pills > li > a {
	font-size: 18px;
	width: 100%;
	min-height: 110px;
	display: inline-block;
	background-color: #fff;
	border: solid #cacaca 1px;
	overflow: hidden;
	border-radius: 10px;
	padding: 15px;
	color: #000;
	text-align: left;
	box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
}
.seo_destination_tab #exTab3 .nav-pills > li > a h3 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding-bottom: 8px;
}
.seo_destination_tab #exTab3 .nav-pills > li > a p {
	font-size: 14px;
	text-align: left;
}
.seo_dst_main {
	display: flex;
}
.seo_dst_main_pic {
	width: 25%;
}
.seo_dst_main_pic img {
	border-radius: 5px;
}
.seo_dst_main_content {
	width: 75%;
	padding-left: 12px;
	line-height: 18px;
}
.seo_destination_tab #exTab3 .nav-pills > li > a.active {
	background: #cea141;
	color: #FFF;
}
.seo_destination_tab #exTab3 .tab-content {
	padding : 5px 15px;
}
.seo_destination_tab .nav-pills>li+li {
	margin-left: 0px !important;
}
.seo_destination_tab #exTab3 .nav-pills > li > a > i {
	display: block;
	font-size: 55px;
	margin-bottom: 15px;
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.seo_destination_tab #exTab3 .nav-pills > li > a:hover i {
	-webkit-transform: scale(1.1, 1.1) rotate(360deg);
	-moz-transform: scale(1.1, 1.1) rotate(360deg);
	-o-transform: scale(1.1, 1.1) rotate(360deg);
	transform: scale(1.1, 1.1) rotate(360deg);
}
.seo_destination_tab .nav>li>a:hover, .seo_destination_tab .nav>li>a:focus {
	background-color: inherit;
}
.seo_destination_tab #exTab3 .tab-content {
	background-color: inherit;
}
.seo_destination_tab .tab-pane {
	padding: 5px 0px;
	padding-top: 25px;
	text-align: left;
}
.seo_destination_tab .tab-pane h3 {
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 5px;
}
.seo_destination_button {
	margin-top: 15px;
}
.seo_viewall_main {
	position: relative;
}
.seo_viewall {
	position: absolute;
	top: -30px;
	right: 0;
	z-index: 5;
}
.seo_destination_slide {
	padding-top: 80px;
	background: url(../images/seo_destination_bg.jpg) no-repeat top;
}
.seo_hotel_slide {
}
.seo_destination_box {
	background: #e66f51;
	border-radius: 10px;
	 
	align-items: center;
	padding: 50px;
	margin: 20px 0;
}
.seo_destination_box h2 {
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.seo_destination_box p {
	font-size: 14px;
	color: #fff;
}
.seo_destination_box_list {
}
.seo_destination_box_pic {
	width: 330px;
	height: 365px;
	position: absolute;
	left: -90px;
	border-radius: 12px;
	overflow: hidden;
}
.seo_destination_box_list ul {
	padding-top: 25px;
}
.seo_destination_box_list ul li {
	display: inline-block;
	color: #FFF;
	text-align: center;
	margin-right: 40px;
}
.seo_destination_box_list ul li span {
	display: block;
}
.seo_map_icon {
	background: url(../images/seo_mapview.svg);
	width: 38px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}
.seo_visit_icon {
	background: url(../images/seo_visit.svg);
	width: 36px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}
.seo_wear_icon {
	background: url(../images/seo_wear.svg);
	width: 36px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}
.seo_transportation_icon {
	background: url(../images/seo_transportation.svg);
	width: 43px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}
.seo_regulation_icon {
	background: url(../images/seo_regulation.svg);
	width: 30px;
	height: 36px;
	display: inline-block;
	background-size: contain;
}


.seo_destinationdtls_main {
	background: url(../images/seo_destinationdtls_banner.jpg);
	background-size: cover;
	width: 100%;
	/* min-height: 730px; */
	padding-bottom: 30px;
}
.seo_desti_dtls_content{
	padding:15px 0;
	padding-top:40px;
}

.seo_desti_dtls_contentbox{
}
.seo_desti_dtls_contentbox p{
	font-size:14px;
	color:#373e43;
}

.seo_desti_dtls_pic{
	background:url(../images/seo_riyad_dtsl_pic1.jpg);
	width:100%;
	border-radius:10px;
	margin-top:35px;
	margin-bottom:20px;
	position:relative;
}
.seo_desti_dtls_pic h2{
	font-size:26px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
	bottom:25px;
	left:25px;
}
.seo_desti_dtls_pic_outr {
	border-radius:10px;
	height: 490px;
	background: linear-gradient(180deg, rgba(2,1,1,0) 0%, rgba(2,1,1,1) 100%);
	
}
/*seo destination end*/




/*media start*/
@media (min-width: 768px) and (max-width: 991px) {
	.seo_grand_content .tabs{ position:inherit;    top: auto;justify-content: flex-start;}
	.seo_entrance_content .tab{ margin-bottom:15px;}
	.seo_grand_content .tab-content-item{padding-top: 0px;}
	.seo_grand_carousel img{ height:300px;}
	.seo_grand_carousel .owl-nav{width: 25%;}
	.seotopairline .owl-nav{width: 22%;}
	
}


@media (min-width: 320px) and (max-width: 767px) {
.seo_entrance_content .wrapper {
	max-width: 100%;
	top:inherit;
}
.seo_entrance_content .tabs {
	justify-content: center;
	top: inherit;
}
.seo_entrance_content .tab {
	margin-bottom: 10px;
}
.entrance_umrah_content_pic img {
	margin-bottom: 20px;
}
.seo_grand_content .tabs {
	position: inherit !important;
}
.seo_grand_carousel .owl-nav {
	width: 8%;
}
.seo_grand_carousel .owl-item {
	padding: 20px 20px;
}
.seo_grand_carousel .owl-item img {
	height: 200px;
}
.seo_grand_content .tab-content-item {
	padding-top: 20px;
}
.grand_seo_slide_content {
	padding: 0;
}
a.grand_seo_readmore {
	padding-left: 0;
}
.seoslide_hotels {
	margin-left: 0;
}
.cafecaption {
	width: 100%;
}
.offers_tab{
	justify-content: center !important;
}
.offers_tab_list ul li{
	width: 100%;
}
.grand_seo_slide_img img{
	width:100%;
}
.offers_tab .tab {
    margin-left: 10px;
    margin-right: 10px;
}
.offers_tab_list{
	margin: 0 15px;
}
.quick_look_box_wrap{
	flex-wrap: wrap;
}
.quick_look_box_wrap .boxes{
	width:100%;
	margin-bottom: 10px;
}
.seotopairline .owl-nav{width: 72%;}

}
/*media end*/


.form-control:focus {
    border: solid #cea241 1px !important;
}


.VisaFullPage .add_visaNationality .formgroup.hasDownArrow.position-relative {
    width: 40%;
    margin-left: 20px;
}